:root {
  background-color: rgb(135, 206, 235);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

article {
  margin-bottom: 20px;
}

p:first-child {
  color: white;
  background-color: black;
}

p:nth-child(2) {
  color: inherit;
}

p:last-child {
  color: red;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  background-color: gray;
  width: 50%;
  padding: 10px;
}

.list li:nth-child(odd) {
  background-color: white;
}

.list li:first-child,
.list li:last-child {
  font-size: 22px;
}

.list li:nth-last-child(3) {
  background-color: pink;
}